*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
body{
    height: 100vh;
    background-color: var(--Light-gray);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}
.container{
    width: 21rem;
    background-color: var(--White);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.05);
    position: relative;
}
img{
    max-width: 100%;
    border-radius: inherit;
}
.container > * {
    margin-bottom: 1rem;
}
.container .title{
    font-size: 1.45rem;
    color: var(--Dark-blue);
}
.container .paragraph{
    padding: 0 0.75rem;
    margin-bottom: 1.5rem;
    color: var(--Grayish-blue);
}
